Jinja2
MarkupSafe
PyYAML
ansible
ansible_vault
awscli
boto3
botocore
cffi
colorama
cryptography
distro
dnspython
docutils
jmespath
psutil
pyasn1
pycparser
python-dateutil
requests
rsa
s3transfer
selinux
six
structlog
urllib3
