---
- name: Create IAM role using Cloudformation
  cloudformation:
    profile: "{{ account_profile }}"
    template_body: "{{ lookup('file', 'CF-IAM.json') }}"
    region: "{{ aws_region }}"
    stack_name: roles
  register: r_cf

- when: r_cf is failed
  block:
    - name: Delete IAM role Cloudformation stack
      cloudformation:
        profile: "{{ account_profile }}"
        region: "{{ aws_region }}"
        stack_name: roles
        state: absent

    - name: Delete the config-rule-role role
      iam_role:
        profile: "{{ account_profile }}"
        name: config-rule-role
        state: absent

    - name: Retry create IAM role using Cloudformation
      cloudformation:
        profile: "{{ account_profile }}"
        template_body: "{{ lookup('file', 'CF-IAM.json') }}"
        region: "{{ aws_region }}"
        stack_name: roles
