[Unit]
Description=Conan the Destroyer of sandboxes (DEV)
After=network-online.target
Documentation=https://github.com/rhpds/sandbox/tree/main/conan

[Service]
Environment=threads=2
Environment=aws_profile=pool-manager-dev
Environment=dynamodb_table=accounts-dev
Environment=dynamodb_region=us-east-1
Environment=aws_nuke_binary_path=/bin/true
Environment=noop=true

User=opentlc-mgr
Group=opentlc-mgr
Type=simple
ExecStart=/bin/bash /home/opentlc-mgr/pool_management/sandbox/conan/conan.sh
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
