[Unit]
Description=Conan the Destroyer of sandboxes
After=network-online.target
Documentation=https://github.com/redhat-gpe/aws-sandbox/tree/main/conan

[Service]
Environment=threads=12
Environment=aws_profile=pool-manager
Environment=dynamodb_table=accounts
Environment=dynamodb_region=us-east-1

User=opentlc-mgr
Group=opentlc-mgr
Type=simple
ExecStart=/bin/bash /home/opentlc-mgr/pool_management/aws-sandbox/conan/conan.sh
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
