# Stay on latest 2.19 for now because of WARNINGS in some collections (aws,  ...)
# TODO: remove the version pin when collections are fixed
ansible-core<2.20
boto3
botocore
cffi
colorama
cryptography
decorator
distro
dnspython
docutils
gssapi
importlib-resources
Jinja2
jmespath
MarkupSafe
netaddr
packaging
psutil
pyasn1
pyasn1-modules
pycparser
pypng
python-dateutil
PyYAML
qrcode
resolvelib
rsa
s3transfer
selinux
six
typing_extensions
urllib3
