---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.sandbox_conan_secrets.aws_credentials.name }}
  namespace: {{ .Values.sandbox_conan_secrets.aws_credentials.namespace | default .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/version: {{ .Chart.Version | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  aws_credentials: {{ .Values.sandbox_conan_secrets.aws_credentials.content | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.sandbox_conan_secrets.ddns.name }}
  namespace: {{ .Values.sandbox_conan_secrets.ddns.namespace | default .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/version: {{ .Chart.Version | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  key_server: {{ .Values.sandbox_conan_secrets.ddns.key_server | b64enc | quote }}
  key_name: {{ .Values.sandbox_conan_secrets.ddns.key_name | b64enc | quote }}
  key_algorithm: {{ .Values.sandbox_conan_secrets.ddns.key_algorithm | b64enc | quote }}
  key_secret: {{ .Values.sandbox_conan_secrets.ddns.key_secret | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.sandbox_conan_secrets.vault_secret.name }}
  namespace: {{ .Values.sandbox_conan_secrets.vault_secret.namespace | default .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/version: {{ .Chart.Version | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}

type: Opaque
data:
  vault_file: {{ .Values.sandbox_conan_secrets.vault_secret.content | b64enc | quote }}
