---
regions: {{ ( all_regions + ['global'] ) | to_json }}

account-blocklist: {{ aws_nuke_account_blacklist | to_json }}

feature-flags:
  disable-deletion-protection:
    RDSInstance: true
    EC2Instance: true
    CloudformationStack: true
    ELBv2: true
    QLDBLedger: true

accounts:
  "{{ account_id }}":
    filters: {{ aws_nuke_filters_default | combine(aws_nuke_filters) | to_json }}

resource-types:
  excludes:
    # don't nuke OpenSearch Packages, see https://github.com/rebuy-de/aws-nuke/issues/1123
    - OSPackage
